.navbar-inverse {
    background-color: #1a0f0d;
}
nav .navbar-nav .navbar-right{
    color: #ac8c47;
}

body {
    padding: 20px;
    /*background-color: black;*/
    color: #AC8C47;
    /*color: rgb(226,226,226);*/
    background-color: rgb(15,15,15);
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 2% 6% 6% 6%;*/
}

header {
    padding-top: inherit;
    padding-bottom: 120px;
    color: #AC8C47;
}

.container {
    background: rgb(15,15,15) /* IE8 */;
    background: rgba(15,15,15,0.74) /* all other browsers*/;
    padding: 20px;
}

/*sets the location of the navbar's menu when on mobile devices to be at the bottom
of the navbar.
*/
@media screen and (min-width: 700px){
    .nav {
        position:absolute;
        bottom:0;
        right:0;
        padding: 5px 15px;
    }
}

